<div class="container home-form-container" layout="column">
    <div ui-view="header" flex>
        <header>
            <md-toolbar class="md-whiteframe-2dp" layout="row">
                <div class="md-toolbar-tools">
                    <div class="toolbar-title" flex="100" layout-align="center center">
                        <h1 class="title-text">
                            Anglar Wallet
                        </h1>
                    </div>
                    <md-button ng-if="home.showBackState()" ui-sref="{{ home.getPreviousState() }}" aria-label="Go Back" layout="column" layout-align="center center">
                        <i class="material-icons">
                            keyboard_backspace
                        </i>
                    </md-button>
                </div>
            </md-toolbar>
        </header>
    </div>
    <div ui-view="body" flex>
    </div>
    <div ui-view="footer" flex>
    </div>
</div>
