<section class="body" layout="row" layout-align="center center">
    <md-content class="login-form home-form md-whiteframe-2dp" layout-wrap="" flex-gt-sm="30" flex-sm="60" flex-xs="90">
        <header layout="row" layout-align="center center">
            <div class="account-icon">
            </div>
        </header>
        <section ng-if="login.loading" layout="column" layout-align="center center" layout-fill>
            <md-progress-circular md-mode="indeterminate" class="loading-circle"></md-progress-circular>
        </section>
        <div ng-if="!login.loading">
        <form name="loginForm">
            <div ng-if="login.hasError">
                <div class="form-message">*{{login.errorText}}</div>
            </div>
            <md-input-container class="md-block">
                <label>
                    Tên đăng nhập
                </label>
                <input md-no-asterisk="" name="username" ng-model="login.username" required="" type="text">
                </input>
            </md-input-container>
            <md-input-container class="md-block">
                <label>
                    Mật khẩu
                </label>
                <input md-no-asterisk="" name="password" ng-model="login.password" required="" type="password">
                </input>
            </md-input-container>
            <div layout="row" layout-align="center center" md-theme-watch="true">
                <md-button type="submit" class="md-raised md-primary" ng-click="login.submit()" flex="100">
                    Đăng nhập
                </md-button>
            </div>
        </form>
        <md-divider></md-divider>
        <footer layout="row" layout-align="center center">
            <a ui-sref="home.register">Đăng ký tài khoản mới</a>
        </footer>
        </div>
    </md-content>
</section>
