<section class="body" layout="row" layout-align="center center">
    <md-content class="home-form register-form md-whiteframe-2dp" layout-wrap="" flex-gt-sm="30" flex-sm="60" flex-xs="90">
        <header layout="row" layout-align="center center">
            <div class="form-title">
            	Đăng ký
            </div>
        </header>
        <form name="registerForm">
            <md-input-container class="md-block">
                <label>
                    Tên đăng nhập
                </label>
                <input md-no-asterisk="" name="username" ng-model="register.username" required="" type="text">
                </input>
                <div ng-if="register.hasError">
                    <div class="form-message" ng-repeat="e in register.usernameErrors">{{e}}</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>
                    Mật khẩu
                </label>
                <input md-no-asterisk="" name="password" ng-model="register.password" required="" type="password">
                </input>
                <div ng-if="register.hasError">
                    <div class="form-message" ng-repeat="e in register.passwordErrors">{{e}}</div>
                </div>
            </md-input-container>
            <div layout="row">
	            <md-input-container class="md-block" flex="80">
	                <label>
	                    Họ và tên đệm
	                </label>
	                <input md-no-asterisk="" name="lastname" ng-model="register.lastname" required="" type="text">
	                </input>
                    <div ng-if="register.hasError">
                        <div class="form-message" ng-repeat="e in register.lastnameErrors">{{e}}</div>
                    </div>
	            </md-input-container>
	            <md-input-container class="md-block">
	                <label>
	                    Tên
	                </label>
	                <input md-no-asterisk="" name="firstname" ng-model="register.firstname" required="" type="text">
	                </input>
                    <div ng-if="register.hasError">
                        <div class="form-message" ng-repeat="e in register.firstnameErrors">{{e}}</div>
                    </div>
	            </md-input-container>
            </div>
            <md-input-container class="md-block">
                <label>
                    Email
                </label>
                <input md-no-asterisk="" name="email" ng-model="register.email" required="" type="email">
                </input>
                <div ng-if="register.hasError">
                    <div class="form-message" ng-repeat="e in register.emailErrors">{{e}}</div>
                </div>
            </md-input-container>
            <div layout="row" layout-align="center center" md-theme-watch="true">
                <md-button type="submit" class="md-raised md-primary" ng-click="register.submit()" flex="100">
                    Đăng ký
                </md-button>
            </div>
        </form>
        <md-divider></md-divider>
        <footer layout="row" layout-align="end center">
            <a ui-sref="home.login">Quay lại đăng nhập</a>
        </footer>
    </md-content>
</section>
