<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Anglar Wallet</title>
	<!-- Angular Dependences -->
	<script src="libraries/angular/angular.js"></script>
	<script src="libraries/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="libraries/satellizer/dist/satellizer.js"></script>
	<script src="libraries/angular-permission/dist/angular-permission.js"></script> 
	<script src="libraries/angular-permission/dist/angular-permission-ui.js"></script>

	<!-- Angular Material Dependences -->
	<script src="libraries/angular-animate/angular-animate.js"></script>
	<script src="libraries/angular-aria/angular-aria.js"></script>
	<script src="libraries/angular-messages/angular-messages.js"></script>
	<script src="libraries/angular-material/angular-material.js"></script>
	
	<!-- Javascript files for app -->
	<script src="app/views/guest/guest.js"></script>
	<script src="app/views/user/dashboard.js"></script>
	<script src="app/assets/js/app.js"></script>
	
	<!-- Style files for app -->
	<link rel="stylesheet" href="libraries/angular-material/angular-material.css">
	<link rel="stylesheet" href="app/assets/css/style.css">
	<base href="/">
</head>
<body ng-app="anglar">
	<div ui-view="anglarWallet" md-theme="{{ theme }}">
		
	</div>
</body>
</html>