<div id="accountPage" style="height: 100%">
    <section layout="column" layout-align="center center" layout-fill="" ng-if="account.loading">
        <md-progress-circular class="loading-circle" md-mode="indeterminate">
        </md-progress-circular>
    </section>
    <section class="body" layout="row" layout-align="center center" ng-if="!account.loading">
        <md-button aria-label="Add" class="md-fab md-primary md-fab-bottom-right" layout-align="center center" ng-click="account.editting = !account.editting" style="position:fixed !important;">
            <md-icon class="material-icons">&#xE3C9;
            </md-icon>
        </md-button>
        <md-content class="" flex-gt-sm="50" flex-sm="70" flex-xs="90" layout-wrap="" layout-align="center center">
            <div class="info-line" layout="row">
                <div class="account-name" layout="row" flex="100">
                    <p flex="25">Tên đăng nhập:</p>
                    <p ng-if="!account.editting" flex="75">{{ account.user.user_uname}}</p>
                </div>
            </div>
            <div class="info-line" layout="row">
                <div class="account-name" layout="row" flex="100">
                    <p flex="25">Họ tên:</p>
                    <p ng-if="!account.editting" flex="75">{{ account.user.user_lastname + " " + account.user.user_firstname}}</p>
                    <div class="editable" ng-if="account.editting" flex="75">
                        <span class="info-group" layout="row" flex="70">
                            <md-input-container class="md-block">
                                <input md-no-asterisk="" name="username" ng-model="account.user.user_lastname" required="" type="text">
                                </input>
                            </md-input-container>
                        </span>
                        <span class="info-group" layout="row" flex="30">
                            <md-input-container class="md-block">
                                <input md-no-asterisk="" name="username" ng-model="account.user.user_firstname" required="" type="text">
                                </input>
                            </md-input-container>
                        </span>
                    </div>
                </div>
            </div>
            <div class="info-line" layout="row">
                <div class="account-name" layout="row" flex="100">
                    <p flex="25">Địa chỉ email:</p>
                    <p ng-if="!account.editting" flex="75">{{ account.user.user_email}}</p>
                    <!-- <div class="editable" ng-if="account.editting" flex="75">
                        <span class="info-group" layout="row">
                            <md-input-container class="md-block">
                                <input md-no-asterisk="" name="username" ng-model="account.user.user_lastname" required="" type="text">
                                </input>
                            </md-input-container>
                        </span>
                    </div> -->
                </div>
            </div>
        </md-content>
    </section>
</div>