<md-dialog ng-cloak="" flex-gt-sm="30" flex-sm="60" flex-xs="80">
    <form name="addCategoryForm" novalidate class="categoryForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    Thêm nhóm mới
                </h2>
                <span flex="">
                </span>
                <md-button class="md-icon-button" ng-click="categoryDlCtrl.cancel()">
                  <md-icon class="material-icons">&#xE5CD;</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>
                        Tên nhóm
                    </label>
                    <input md-no-asterisk="" ng-model="categoryDlCtrl.newCat.cat_name" required="" type="text">
                    </input>
                </md-input-container>
                <md-input-container class="md-block">
                    <p>Chọn loại:</p>
                    <md-radio-group ng-model="categoryDlCtrl.newCat.cat_type">
                        <md-radio-button value="1" class="md-primary">Thu nhập</md-radio-button>
                        <md-radio-button value="2" class="md-primary">Chi tiêu</md-radio-button>
                    </md-radio-group>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="categoryDlCtrl.cancel()">
                Hủy
            </md-button>
            <md-button ng-click="categoryDlCtrl.add()" ng-disabled="addCategoryForm.$invalid">
                Lưu
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>