<md-dialog ng-cloak="" flex-gt-sm="40" flex-sm="80" flex-xs="80">
    <form name="addTransactionForm" novalidate class="transactionForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    Thêm khoản thu chi
                </h2>
                <span flex="">
                </span>
                <md-button class="md-icon-button" ng-click="transDlCtrl.cancel()">
                  <md-icon class="material-icons">&#xE5CD;</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row">
                <md-input-container class="md-block" flex="50">
                    <label>
                        Loại thu chi
                    </label>
                    <md-select ng-model="transDlCtrl.newTrans.cat_id" required="">
                        <md-option ng-repeat="cat in transDlCtrl.cats" value="{{cat.cat_id}}" ng-selected="$first">
                            {{cat.cat_name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex="50">
                    <label>
                        Chọn ví
                    </label>
                    <md-select ng-model="transDlCtrl.newTrans.wallet_id" required="">
                        <md-option ng-repeat="wallet in transDlCtrl.wallets" value="{{wallet.wallet_id}}" ng-selected="$first">
                            {{wallet.wallet_name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>
                        Số tiền
                    </label>
                    <input md-no-asterisk="" ng-model="transDlCtrl.newTrans.trans_amount" required="" type="number" min="0">
                    </input>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>
                        Ghi Chú
                    </label>
                    <input md-no-asterisk="" ng-model="transDlCtrl.newTrans.trans_note" type="text">
                    </input>
                </md-input-container>
                <!-- <div layout="row"> -->
                <md-datepicker md-placeholder="Chọn ngày" ng-model="transDlCtrl.newTrans.trans_time" flex="60" required="">
                </md-datepicker>
                <!-- </div> -->
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="transDlCtrl.cancel()">
                Hủy
            </md-button>
            <md-button ng-click="transDlCtrl.add()" ng-disabled="addTransactionForm.$invalid">
                Lưu
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>