<md-dialog ng-cloak="" flex-gt-sm="30" flex-sm="60" flex-xs="80">
    <form name="addWalletForm" novalidate class="walletForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    Thêm ví mới
                </h2>
                <span flex="">
                </span>
                <md-button class="md-icon-button" ng-click="walletDlCtrl.cancel()">
                  <md-icon class="material-icons">&#xE5CD;</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>
                        Tên ví
                    </label>
                    <input md-no-asterisk="" ng-model="walletDlCtrl.newWallet.wallet_name" required="" type="text">
                    </input>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>
                        Mô tả
                    </label>
                    <input md-no-asterisk="" ng-model="walletDlCtrl.newWallet.wallet_description" type="text">
                    </input>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>
                        Số tiền hiện tại
                    </label>
                    <input md-no-asterisk="" ng-model="walletDlCtrl.newWallet.start_point" type="number" min="0" required="">
                    </input>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="walletDlCtrl.cancel()">
                Hủy
            </md-button>
            <md-button ng-click="walletDlCtrl.add()" ng-disabled="addWalletForm.$invalid">
                Lưu
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>