<div id="categoriesPage" style="height: 100%">
    <section layout="column" layout-align="center center" layout-fill="" ng-if="cat.loading">
        <md-progress-circular class="loading-circle" md-mode="indeterminate">
        </md-progress-circular>
    </section>
    <section class="body" layout="row" layout-align="center start" ng-if="!cat.loading">
        <md-button aria-label="Add" class="md-fab md-primary md-fab-bottom-right" style="position:fixed !important;" layout-align="center center" ng-click="cat.showAddDialog()">
            <md-icon class="material-icons">&#xE145;</md-icon>
        </md-button>
        <md-content class="" flex-gt-sm="30" flex-sm="60" flex-xs="90" layout-wrap="">
            <md-card md-theme-watch="" ng-repeat="cat in cat.cats">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            {{cat.cat_name}}
                        </span>
                        <span class="md-subhead">
                            
                        </span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </md-content>
    </section>
</div>