<div class="container" layout="column">
    <div ui-view="header">
        <header>
            <md-toolbar class="md-whiteframe-2dp" layout="row">
                <div class="md-toolbar-tools">
                    <div class="toolbar-title" flex="95" layout="row" layout-align="center center">
                        <h1 class="title-text">
                            Anglar Wallet
                        </h1>
                    </div>
                </div>
            </md-toolbar>
        </header>
    </div>
    <div class="body" layout-gt-sm="row">
        <div flex="20" layout="column" ui-view="sidebar" hide show-gt-sm class="dashboard-sidebar md-whiteframe-2dp">
            <md-content layout-padding layout="column" layout-align="center center" class="sidebar-header">
                <div class="account-icon" ui-sref="dashboard.account">
                </div>
                <div class="account-name">
                    {{ currentUser.user_lastname + ' ' + currentUser.user_firstname }}
                </div>
            </md-content>
            <md-list>
                <md-subheader>Quản lý thu chi</md-subheader>
<!--                 <md-list-item class="md-1-line sidebar-item" ui-sref="dashboard.transaction">
                    <i class="material-icons">&#xE871;</i>
                    <p>Thông tin chung</p>
                </md-list-item> -->
                <md-list-item class="md-1-line sidebar-item" ui-sref="dashboard.transaction">
                    <i class="material-icons">book</i>
                    <p>Sổ thu chi</p>
                </md-list-item>
                <md-list-item class="md-1-line sidebar-item" ui-sref="dashboard.debt">
                    <i class="material-icons">import_contacts</i>
                    <p>Sổ nợ</p>
                </md-list-item>
                <md-list-item class="md-1-line sidebar-item" ui-sref="dashboard.wallet">
                    <i class="material-icons">account_balance_wallet</i>
                    <p>Quản lý ví</p>
                </md-list-item>
                <md-list-item class="md-1-line sidebar-item" ui-sref="dashboard.category">
                    <i class="material-icons">local_offer</i>
                    <p>Nhóm</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-subheader>Tài khoản</md-subheader>
                <md-list-item class="md-1-line sidebar-item" ui-sref="dashboard.account">
                    <i class="material-icons">account_circle</i>
                    <p>Thông tin tài khoản</p>
                </md-list-item>
                <md-list-item class="md-1-line sidebar-item" ng-click="logout()">
                    <i class="material-icons">&#xE879;</i>
                    <p>Đăng xuất</p>
                </md-list-item>
            </md-list>
        </div>
        <md-content flex="100" flex-gt-sm="85" ui-view="main">
        </md-content>
    </div>
    <div flex="" ui-view="footer">
    </div>
</div>
