<div id="transactionsPage" style="height: 100%">
    <section layout="column" layout-align="center center" layout-fill="" ng-if="transaction.loading">
        <md-progress-circular class="loading-circle" md-mode="indeterminate">
        </md-progress-circular>
    </section>
    <section class="body" layout="row" layout-align="center start" ng-if="!transaction.loading">
        <md-button aria-label="Add" class="md-fab md-primary md-fab-bottom-right" layout-align="center center" ng-click="transaction.showAddDialog()" style="position:fixed !important;">
            <md-icon class="material-icons">
                
            </md-icon>
        </md-button>
        <md-content class="" flex-gt-sm="40" flex-sm="60" flex-xs="90" layout-wrap="">
            <md-card md-theme-watch="" ng-repeat="trans in transaction.trans" class="transaction-card" ng-class="trans.cat.cat_type == 1 ? 'trans-p' : 'trans-n'">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            {{trans.cat.cat_name}}
                        </span>
                    </md-card-title-text>
                    <span>
                            {{ trans.trans_time | date:'MM/dd/yyyy' }}
                    </span>
                </md-card-title>
                <md-card-content>
                    <p class="trans-note">
                        {{trans.trans_note ? trans.trans_note : '&nbsp;'}}
                    </p>
                    <p class="trans-amount">
                        {{trans.trans_amount}}
                    </p>
                </md-card-content>
            </md-card>
        </md-content>
    </section>
</div>