<div id="walletsPage" style="height: 100%">
    <section layout="column" layout-align="center center" layout-fill="" ng-if="wallet.loading">
        <md-progress-circular class="loading-circle" md-mode="indeterminate">
        </md-progress-circular>
    </section>
    <section class="body" layout="row" layout-align="center start" ng-if="!wallet.loading">
        <md-button aria-label="Add" class="md-fab md-primary md-fab-bottom-right" layout-align="center center" ng-click="wallet.showAddDialog()" style="position:fixed !important;">
            <md-icon class="material-icons">
                &#xE145;
            </md-icon>
        </md-button>
        <md-content class="" flex-gt-sm="30" flex-sm="60" flex-xs="90" layout-wrap="">
            <md-card md-theme-watch="" ng-repeat="wallet in wallet.wallets">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            {{wallet.wallet_name}}
                        </span>
                        <span class="md-subhead">
                        </span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </md-content>
    </section>
</div>