@import 'https://fonts.googleapis.com/css?family=Lato|Roboto|Poiret+One';

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/material-icon.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


* {
	font-family: 'Roboto', sans-serif;
}

h1.title-text {
	font-family: 'Poiret One', cursive;
	text-transform: uppercase;
	font-size: 1.8rem;
}

.container {
	width: 100vw;
	height: 100vh;
}

.toolbar-title {
	text-align: center;
}

.loading-circle {
	margin-top: 10px;
    margin-bottom: 20px;
}

.home-form-container .body {
	width: 100vw;
}

.home-form {
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}

.form-title {
	font-size: 1.5rem;
	text-transform: uppercase;
}

.form-message {
	font-size: 0.8rem;
	padding-top: 5px;
	color: #DD2C00;
}

.home-form .md-block {
	margin-bottom: 0;
}
.home-form header {
	margin: 2rem auto;
}

.home-form footer a {
	text-decoration: none;
	margin: 0 10px;
	line-height: 2rem;
	font-size: 0.8rem;
}

.home-form form {
	padding: 0 1.5rem;
	margin-bottom: 1rem;
}

.account-icon {
	position: relative;
	background-color: rgb(223, 223, 223);
	border: 13px solid rgb(223, 223, 223);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden !important;
	transform: rotate(-1deg);
}

.account-icon:hover {
	cursor: pointer;
}

.account-icon:before {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #aaa;
	content: '';
	position: absolute;;
	top: 0;
	right: 20px;
	transform: scale(0);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -webkit-animation: user-head 0.5s 0s forwards;
    -moz-animation: user-head 0.5s 0s forwards;
    animation: user-head 0.5s 0s forwards;
}

.account-icon:after {
	width: 140px;
	height: 220px;
	border-radius: 50%;
	background-color: #aaa;
	content: '';
	position: absolute;;
	top: 40px;
	right: -32px;
	transform: translateY(34px);
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	animation: user-body 0.5s 0.3s forwards;
}

.dashboard-sidebar {
	background-color: #FFFFFF;
	border-right: 1px solid #CECECE;
}

.sidebar-item p {
	margin-left: 30px !important;
}
.dashboard-sidebar .md-subheader {
	background-color: #FFF !important;
}
.dashboard-sidebar .account-icon {
	position: relative;
	background-color: rgb(223, 223, 223);
	border: 5px solid rgb(223, 223, 223);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden !important;
	transform: rotate(-1deg);
}

.dashboard-sidebar .account-icon:before {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #aaa;
	content: '';
	position: absolute;;
	top: 4px;
	right: 14px;
	transform: scale(0);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -webkit-animation: user-head 0.5s 0s forwards;
    -moz-animation: user-head 0.5s 0s forwards;
    animation: user-head 0.5s 0s forwards;
}

.dashboard-sidebar .account-icon:after {
	width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #aaa;
    content: '';
    position: absolute;
    top: 26px;
    right: -5px;
    transform: translateY(34px);
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	animation: user-body 0.5s 0.3s forwards;
}
.dashboard-sidebar .sidebar-header {
	min-height: 170px;
	background-image: url(/app/assets/images/sidebar-header-bg.png);
	background-size: cover;
}

.dashboard-sidebar .account-name {
	text-align: center;
}

.info-group {
	display: inline-block;
}

.transactionForm .md-errors-spacer {
	min-height: 0;
}

.trans-n {
	border-left: 5px solid #DD2C00;
}

.trans-p {
	border-left: 5px solid #039be5;	
}

.transaction-card .trans-note {
	color: #919191;
	font-size: 0.8rem;
}

.transaction-card .trans-amount {
	font-weight: bold;
}

@-webkit-keyframes user-head {
100% {
	-webkit-transform:scale(1);
	transform:scale(1);
	-moz-transform:scale(1);
} }
@-moz-keyframes user-head {
100% {
	-webkit-transform:scale(1);
	transform:scale(1);
	-moz-transform:scale(1);
} }
@keyframes user-head {
100% {
	-webkit-transform:scale(1);
	transform:scale(1);
	-moz-transform:scale(1);
} }

@-webkit-keyframes user-body {
100% {
	-webkit-transform:translateY(2px);
	transform:translateY(2px);
	-moz-transform:translateY(2px);
} }
@-moz-keyframes user-body {
100% {
	-webkit-transform:translateY(2px);
	transform:translateY(2px);
	-moz-transform:translateY(2px);
} }
@keyframes user-body {
100% {
	-webkit-transform:translateY(2px);
	transform:translateY(2px);
	-moz-transform:translateY(2px);
} }

/*Transition Effect
=================================================================================*/
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}

@keyframes slideOutRight {
    to      { transform: translateX(100%); }
}
@-moz-keyframes slideOutRight {  
    to      { -moz-transform: translateX(200%); }
}
@-webkit-keyframes slideOutRight {
    to      { -webkit-transform: translateX(200%); }
}

/* slide in from the right */
@keyframes slideInLeft {
    from    { transform:translateX(-200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInLeft {
    from    { -moz-transform:translateX(-200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
    from    { -webkit-transform:translateX(-200%); }
    to      { -webkit-transform: translateX(0); }
}

@keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}
@-moz-keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}
@-webkit-keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}

@keyframes fadeOut {
  from { opacity:1; }
  to { opacity:0; }
}
@-moz-keyframes fadeOut {
  from { opacity:1; }
  to { opacity:0; }
}
@-webkit-keyframes fadeOut {
  from { opacity:1; }
  to { opacity:0; }
}
/*.home-form        { animation:slideInLeft 1s both cubic-bezier(0.4, 0.0, 0.2, 1); }
.home-form.ng-hide        { animation:slideOutRight 1s both cubic-bezier(0.4, 0.0, 0.2, 1); }*/

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}